{% extends 'base.html' %}

{% block content %}
<h1> Submit Your Own Recipe </h1>
<div class="input-form">
    <form action="/submit" method="post">
        <p for="cocktail_name"> Name of Cocktail </p>
        <input type="text" name="cocktail_name" id="cocktail_name">

        <p for="cocktail_description"> Description </p>
        <input type="text" name="cocktail_description" id="cocktail_description">

    <p for="cocktail_instruction"> Instructions </p>
    <input type="text" name="cocktail_instruction" id="cocktail_instruction">
    <br />

        <h1>Add Ingredients</h1>
        <div class="ingredient-container">
            {% for ingredient in ingredients %}
            <label>
                <input type="checkbox" value="{{ingredient.id}}" name="ingredients">
                {{ingredient.name}}
            </label>
            {% endfor %}
            </div>
            <br />
        


        <button type="submit">Submit Cocktail</button>
        <br/>
    </form>
</div>


{% endblock content %}
