{% extends 'base.html' %}

{% block content %}
<div class="cocktail-details">
    <div class="cocktail-image2">
        <img src="{{cocktail.image_url}}" referrerpolicy="no-referrer" />
</div>
<div class="cocktail-instructions">
    <h1>{{ cocktail.name }}</h1>
    <h3>{{ cocktail.description }}</h3>
    <h1>Ingredients</h1>
    {% for item in cocktail.ingredients %}
    <h3>{{item.name}}</h3>
    {% endfor %}
    <h1>Recipe</h1>
    <h3>{{ cocktail.instructions }}</h3>
    <div class="cocktail-buttons">
        <form class="delete-form" action="/cocktails/{{cocktail.id}}/delete" method="post">
            <input type="submit" value="Delete">
        </form>
        <br/>
    </div>
    </div>
    {% endblock %}



