body {
  background-color: #6c937f;
  background-size: cover;
  background-repeat: no-repeat;
  color: #F6F4F3;
  font-family: 'Nanum Myeongjo', serif;
  padding: 0px;
  margin: 0px;
}

#main {
  display: flex;
  align-items: center;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 2rem;

}

  
h1, h3, h4, h5, h6 {
  font-family: 'Nanum Myeongjo', serif;
  margin: 0px;
  padding: 0px;
  }
  
h1 {
  font-size: 3em;
  color: #E1DABD;
  margin-bottom: 40px;
  margin-top: 40px;
  display: inline;
  align-items: center;    
}

a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  color:#E1DABD;
}


.nav_bar{
  display: inline;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 800px;
}

nav ul li{
  list-style: none;
}


#content {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.take_a_look{
  display: flex;
}




