{% extends 'base.html' %}

{% block content %}

<h1> Add an ingredient</h1>
<br />
<div class="what_we_got">
    <h6> What we've got </h6>
    <select id="ingredients" name="ingredient.name">
<br />
    {% for ingredient in ingredients %}
        <option value="'{{ingredient.id}}">{{ingredient.name}}</option>  
    {% endfor %}
    </select>
</div>
<br />
<form action ="/add_ingredient" method="post">
    <h6> Name of Ingredient </h6>
    <input type="text" name="ingredient_name" id="ingredient_name_field" class="ingredient_name_field">
    <br />
<button type="submit">Add Ingredient</button>
</form>

{% endblock content %}
