{% extends 'base.html' %}

{% block content %}

<h1>Tie One on</h1>

<h1> What Ya Got?</h1>
    <div class="what_ya_got">
        <label for="ingredient">Choose an ingredient you want to work with; </label>
            <select id="ingredients" name="ingredient.name">

    {% for ingredient in ingredients %}
        <option value="'{{ingredient.id}}">{{ingredient.name}}</option>  
    {% endfor %}
    </select>

    <button type="submit">Show Me What I can make</button>

</div>


</select>
</div>

{% endblock content %}