{% extends 'base.html' %}

{% block content %}


<div class="logo-container">
    <img src="/static/images/tielogo.png" alt="Tie One On Logo" id="logo">
</div>

<form action="/cocktails" method="GET">
    <div class="what_ya_got">
        <h1>Cocktail Generator</h1>
        <p for="ingredient">Choose an ingredient you want to use</p>
        <select id="ingredients" name="ingredient_id">
            {% for ingredient in ingredients %}
            <option value="{{ingredient.id}}">{{ingredient.name}}</option>
            {% endfor %}
            </select>
            <br />

        <button type="submit">What Can I Make?</button>
    </div>
</form>



</select>
</div>

{% endblock content %}